*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: rgba(217, 217, 211, 0.95);
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  background-color: #fff;
}

.main-nav {
  display: flex;
  background-color: #2ddf5c;
  padding: 20px;
  margin-bottom: 50px;
}

.logo-wrapper {
  flex: 1;
  display: flex;
  align-items: center;
}

.logo {
  color: #fff;
  text-decoration: none;
  font-size: 2.2rem;
  font-weight: 700;
}

.logo__sub {
  font-size: 1.2rem;
  display: block;
}

.main-nav__list {
  flex: 2;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav__item {
  padding: 10px;
}

.main-nav__link:link,
.main-nav__link:visited {
  text-decoration: none;
  font-size: 1.8rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  border: 2px solid transparent;
  border-radius: 4px;
  padding: 4px 8px;
  transition: all 0.4s;
}

.main-nav__link:hover,
.main-nav__link:active {
  color: #10722a;
  font-weight: 700;
  border: 2px solid #fff;
}

.main-nav__link--cta:link,
.main-nav__link--cta:visited {
  background-color: #10722a;
  border: 2px solid #10722a;
  color: #fff;
  transition: all 0.4s;
}

.main-nav__link--cta:hover,
.main-nav__link--cta:active {
  background-color: #fff;
  border: 2px solid #fff;
  color: #10722a;
}

.hero-image {
  background: url("../img/web-dev-team.jpg");
  background-size: cover;
  background-position: start;
  background-repeat: no-repeat;
  opacity: 0.8;
  width: 100%;
  min-height: 400px;
  position: relative;
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.hero-image__heading {
  color: #fff;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  font-size: 3.2rem;
  position: absolute;
  bottom: 37px;
  right: 115px;
  animation: moveInRight 3s;
}

.plans__heading {
  margin: 150px 0;
  background-color: #fff;
  border-top: 2px solid #2ddf5c;
  border-bottom: 2px solid #2ddf5c;
}

.plans__heading h2 {
  text-align: center;
  color: #7c7979;
  font-size: 3rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 50px 0;
}

.plans-wrapper {
  margin: 20px auto;
  display: flex;
}

.plan {
  flex: 1;
  background-color: rgba(30, 153, 63, 0.9);
  margin: 20px;
  padding: 80px 20px;
  border-radius: 4px;
  text-align: center;
  line-height: 2;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  transition: all 0.3s;
}

.plan:hover {
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.3);
}

.plan--highlighted {
  background-color: #4abefc;
}

.plan > * {
  flex: 1 1 100%;
  color: #fff;
}

.plan__name {
  font-size: 3rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.plan__price {
  font-size: 2.4rem;
}

.plan__description {
  font-size: 2rem;
  margin-bottom: 40px;
}

.plan__btn:link,
.plan__btn:visited,
.plan__btn--recommended:link,
.plan__btn--recommended:visited {
  background-color: #fff;
  font-size: 1.6rem;
  color: #575555;
  font-weight: 700;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  letter-spacing: 0.5px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.3s;
}

.plan__btn:hover,
.plan__btn:active {
  color: #14aefe;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

.plan__btn--recommended:hover,
.plan__btn--recommended:active {
  color: rgba(30, 153, 63, 0.9);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

.plan__subtitle {
  background-color: #4abefc;
  position: relative;
  overflow: hidden;
}

.plan__subtitle::after {
  content: "Recommended";
  position: absolute;
  top: 9%;
  right: -15%;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  background-color: #ffd84c;
  color: #444;
  padding: 8px 60px;
  transform: rotate(45deg);
  transition: all 0.3s;
}

.core-features {
  background-color: rgba(215, 213, 207, 0.4);
  margin-top: 200px;
  padding: 200px 40px;
  display: flex;
  justify-items: center;
  align-items: center;
  border-bottom: 1px solid #444;
}

.core-features__heading {
  flex: 1;
}

.core-features__heading h2 {
  font-size: 3.5rem;
  color: #554f4f;
  line-height: 1.5;
  font-weight: 600;
}

.core-features__list {
  flex: 2;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.core-features__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
}

.core-features__icon {
  width: 50px;
  height: 50px;
  color: #10722a;
  margin-bottom: 20px;
}

.core-features__item p {
  font-size: 1.8rem;
  text-align: center;
  line-height: 1.5;
}

.domain-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 200px 0;
  gap: 20px;
  background-color: #fff;
}

.heading-wrapper {
  text-align: center;
  line-height: 3;
  margin-bottom: 70px;
}

.domain__heading {
  font-size: 3rem;
  color: #0f832e;
  font-weight: 600;
}

.domain__heading--sm {
  font-size: 2.7rem;
  color: #585656;
  font-weight: 500;
}

.search-wrapper {
  display: flex;
}

.search-field,
.submit-btn,
.domain-selection--main {
  padding: 10px 20px;
  font-size: 2rem;
  color: #7c7979;
  border: 2px solid #4e4d4d;
  cursor: pointer;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.search-field {
  border-radius: 4px 0 0 4px;
  width: 500px;
}

.search-field:focus {
  outline: 2px solid #1e993f;
}

.domain-selection--main {
  color: #4e4d4d;
}

.domain-selection--main:focus {
  outline: 2px solid #1e993f;
}

.submit-btn {
  background-color: #4e4d4d;
  color: #fff;
  border-radius: 0 4px 4px 0;
  border-left: 2px solid transparent;
  transition: all 0.2s;
}

.submit-btn:hover {
  background-color: #1e993f;
  border: 2px solid #1e993f;
}

.main-footer {
  background-color: #2ddf5c;
  padding: 80px 40px;
}

.grid {
  display: grid;
  column-gap: 20px;
}

.grid--footer {
  grid-template-columns: 2fr repeat(3, 1fr);
}

.logo-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-footer__logo {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 2.5rem;
  font-weight: 700;
}

.copyright {
  font-size: 1.3rem;
  color: #3a3939;
  line-height: 1.6;
  margin-bottom: 20px;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.social-link:link,
.social-link:visited {
  color: #fff;
  font-size: 2.6rem;
  text-decoration: none;
  transition: all 0.4s;
}

.social-link:hover,
.social-link:active {
  color: #4e4b4b;
}

.nav-col__heading {
  font-size: 2.2rem;
  font-weight: 500;
  color: #3a3939;
  margin-bottom: 40px;
}

.nav-col__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.nav-col__item:link,
.nav-col__item:visited {
  color: #333;
  text-decoration: none;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.nav-col__item:hover,
.nav-col__item:active {
  color: #fff;
}
